header{
  max-width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8%;
  }
  .nav-items{
    display: flex;
    align-items: center;
    gap: 16px;
    .btn-til{
      background: transparent;
      font-size: 13px;
      line-height: 20px;
      color: #919399;
      span{
        color: #ef7c00;
      }
    }
    .nav-item{
      padding-left: 10px;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      color: #2c2d2e;
      &:hover{
        color: #ef7c00;
        transition: 0.4s;
      }
    }
    .btn-logo{
      border-left: 1px solid #00103D1F;
    }
  }
}
@media (max-width: 1160px){
  header{
    max-width: 100%;
    nav{
      padding-left: 4%;
      padding-right: 4%;
    }
  }
}
@media (max-width: 1051px){
  header{
    max-width: 100%;
    nav{
      padding-left: 2%;
      padding-right: 2%;
    }
  }
}
@media (max-width: 1010px){
  header{
    max-width: 100%;
    nav{
      padding-left: 10%;
      padding-right: 10%;
    }
    .nav-items{
      display: none;
    }
  }
}