*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat
}

@font-face {
  font-family: Montserrat;
  src: url(../../public/fonts/Montserrat-Regular.ttf);
}
a{
  text-decoration: none;
}
button{
  border: none;
  cursor: pointer;
}
input{
  border: none;
}
.dark{
  background: #333;
  color: #FFF;
}